 ![png](Data/ERD.png)

In [1]:
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:root@localhost/books"

In [2]:
# Create engine
engine = create_engine(connection_str)

In [3]:
# create database
create_database(connection_str)

In [4]:
# Read books csv file
book = pd.read_csv('Data/book.csv')
book.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [5]:
# Read authors csv file
author = pd.read_csv('Data/authors.csv')
author.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [6]:
# Read users csv file
users = pd.read_csv('Data/users.csv')
users.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [7]:
# Read favorites csv file
fav= pd.read_csv('Data/fav.csv')
fav.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [10]:
# Transform to tables
book.to_sql('books', engine, if_exists = 'replace')
users.to_sql('users', engine, if_exists = 'replace')
fav.to_sql('fav', engine, if_exists = 'replace')
author.to_sql('author', engine, if_exists = 'replace')

5

In [24]:
# Show tables
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0          author
1           books
2             fav
3           users

In [33]:
q2 = """SELECT books.title, fav.user_id
FROM books 
JOIN fav ON books.id = fav.book_id
WHERE fav.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = 'Doe' AND users.first_name = 'John'));
"""

pd.read_sql(q2, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1